
<style>
    .default-cv{
        padding: 10px 30px; 
        border: 1px solid red; 
        background-color:lightgrey;
    }
</style>
<div class="default-cv">
    <section className="cv-header">
        <h1 class="nombre">{{data.nombre}}</h1>
        <h2 class="ape">{{data.apellido}}</h2>
    </section>
</div>